<div class="row">
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm" >
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="firstName">First Name</label>
          <input 
            type="text" 
            id="firstName"
            name="firstName" 
            ngModel
            class="form-control" 
            required>
        </div>
         <div class="col-sm-5 form-group">
          <label for="lastName">Last Name</label>
          <input 
            type="text" 
            id="lastName" 
            name="lastName" 
            ngModel
            class="form-control"
            required>
        </div>
      </div>
      <div class="row">
        <div class=" col-sm-5 form-group">
          <label for="email">Email</label>
          <input 
            type="text" 
            id="email" 
            name="email"
            required
            ngModel
            class="form-control" 
            #emailRef="ngModel">
            <span class="help-block" *ngIf="!emailRef.valid && emailRef.touched">Please enter a valid email!</span>
        </div>
        <div class="col-sm-5 form-group">
          <label for="phone">Phone</label>
          <input 
            type="text" 
            id="phone" 
            class="form-control" 
            name="phone"
            ngModel
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group">
          <label for="status">Status</label>
            <select 
              id="status" 
              class="form-control" 
              name="status"
              ngModel
              required>
              <option value="Online">Online</option>
              <option value="Offline">Offline</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <button 
            type="submit" 
            class="btn btn-primary"  
            [disabled]="!contactForm.valid">
            {{editmode ? 'Update' : 'Add'}}
          </button>
          <button type="button" class="btn btn-danger" (click)="onDelete()" 
          *ngIf="editmode">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()" >Clear</button>
        </div>
      </div>
    </form>
</div>
